@import '../../styles/variables';
@import '../../styles/mixins';

.header-wrapper {
//   position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
